* {
    --card-width: 80vw;
    --card-height: calc(var(--card-width) / 0.5);
}
p,
h1 {
    margin: 0;
}
input {
    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #eff0f5;
    overflow: hidden;
    margin: 0;
    position: relative;
}
.home-wrapper {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eff0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 1;
}
.home-wrapper.active {
    opacity: 0;
    pointer-events: none;
}
.home-container {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.area {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.area p {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: #eff0f4;
    box-shadow: 5px 5px 5px #d8d9db, -5px -5px 5px #ffffff;
    display: flex;
    font-size: 1.5rem;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
}
body.active .loading {
    display: none;
}
.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #eff0f5;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-bar {
    content: ' ';
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.search-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background-color: #eff0f4;
    box-shadow: 3px 3px 3px #d8d9db, -3px -3px 3px #ffffff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.search-box.active {
    opacity: 1;
    pointer-events: all;
}
.back-btn {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eff0f4;
    box-shadow: 3px 3px 3px #d8d9db, -3px -3px 3px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(94, 94, 94);
}
.search-box form {
    display: flex;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
form .text {
    border: none;
    font-size: 1.2rem;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #eff0f4;
    box-shadow: 3px 3px 3px #d8d9db, -3px -3px 3px #ffffff;
}
form .submit {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 2px 2px 2px #d8d9db, -2px -2px 2px #ffffff;
    outline: none;
}
.description {
    content: '';
    font-size: 1.1rem;
    transition: 0.3s;
}
.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.nav {
    width: 90%;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    top: 3%;
}
.search,
.home {
    cursor: pointer;
    color: rgb(26, 26, 26);
    width: 10vw;
    height: 10vw;
    background: #eff0f4;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #d8d9db, -3px -3px 3px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(94, 94, 94);
}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: var(--card-width);
    height: var(--card-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background: #eff0f4;
    box-shadow: 5px 5px 5px #d8d9db, -5px -5px 5px #ffffff;
    gap: 20px;
    opacity: 0;
    transition: 1s;
}
.card.active {
    opacity: 1;
}
.img-container {
    width: calc(var(--card-height) / 4);
    height: calc(var(--card-height) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f4f8fa;
    box-shadow: 2px 2px 5px #d8d9db, -3px -3px 3px #ffffff;
}
.img {
    width: 90%;
    height: 90%;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.text {
    text-align: center;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.name {
    width: fit-content;
    padding: 5px 10px;
    font-size: 1.3em;
    font-weight: 500;
}
.sub-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.prayer-topic {
    font-size: 1.2em;
    line-height: 1.5;
    padding: 10px;
    border-radius: 10px;
    background: #eff0f4;
    box-shadow: inset 2px 2px 5px #d8d9db, inset -3px -3px 3px #ffffff;
}
