* {
    --card-width: 80vw;
    --card-height: calc(var(--card-width) / 0.5);
    --card-max-width: 350px;
    --card-max-height: calc((var(--card-max-width) / 0.5));
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}
p,
h1 {
    margin: 0;
    font-family: 'Cafe24SsurroundAir';
    color: rgb(115, 130, 149);
}
button {
    border: none;
    background-color: transparent;
}
input,
textarea,
button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-family: 'Cafe24SsurroundAir';
}

html {
    width: 100%;
    position: fixed;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        160deg,
        rgba(239, 246, 255, 1) 0%,
        rgb(237, 244, 255) 50%
    );
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
}
body {
    width: 100%;
    height: 100%;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        160deg,
        rgba(239, 246, 255, 1) 0%,
        rgb(237, 244, 255) 50%
    );
    overflow: hidden;
    margin: 0;
    position: fixed;
}
.intro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        160deg,
        rgba(239, 246, 255, 1) 0%,
        rgb(237, 244, 255) 50%
    );
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    transition: 1s;
}
.intro p {
    font-size: 1rem;
    white-space: nowrap;
    opacity: 0;
    animation: intro-p 0.3s 0.5s forwards ease-in;
    transform: translateY(50%);
}
.intro-img {
    width: 30vw;
    max-width: 150px;
    max-height: 150px;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: intro 1s forwards ease-in;
    transition: 0.3s;
}
.intro-img img {
    width: 90%;
    height: 90%;
}
@keyframes intro-p {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes intro {
    0% {
        opacity: 0;
        background: rgb(239, 246, 255);
        background: linear-gradient(
            160deg,
            rgba(239, 246, 255, 1) 0%,
            rgb(237, 244, 255) 50%
        );
        box-shadow: 0px 0px 0px rgb(205, 217, 236),
            0px 0px 0px rgba(255, 255, 255);
    }
    100% {
        opacity: 1;
        background: rgb(239, 246, 255);
        background: linear-gradient(
            150deg,
            rgb(240, 247, 255) 0%,
            rgb(227, 240, 255) 50%
        );
        box-shadow: 2px 2px 5px rgb(205, 217, 236),
            -2px -2px 5px rgba(255, 255, 255);
    }
}
.intro.active {
    opacity: 0;
    pointer-events: none;
    z-index: -100;
}
.intro.active .intro-img {
    opacity: 0;
}
.home-wrapper {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgb(219, 230, 246); */
    background: rgb(239, 246, 255);
    background: linear-gradient(
        160deg,
        rgba(239, 246, 255, 1) 0%,
        rgb(237, 244, 255) 50%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 1;
}
.home-wrapper.active {
    opacity: 0;
    pointer-events: none;
}
.home-container {
    width: 80%;
    max-width: 400px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.area {
    width: 80%;
    height: 10%;
    border-radius: 20px;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        150deg,
        rgb(246, 250, 255) 0%,
        rgb(237, 245, 255) 50%
    );
    box-shadow: 5px 5px 10px rgb(205, 217, 236),
        -5px -5px 10px rgba(255, 255, 255);
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
}
.area p {
    color: rgb(115, 130, 149);
}
.area button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        150deg,
        rgb(242, 248, 255) 0%,
        rgb(241, 248, 255) 50%
    );
    box-shadow: 5px 5px 10px rgb(205, 217, 236),
        -5px -5px 10px rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(115, 130, 149);
    font-size: 0.5rem;
}
body.active .loading {
    display: none;
}
.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #eff0f5;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-bar {
    content: ' ';
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.search-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        160deg,
        rgba(239, 246, 255, 1) 0%,
        rgb(237, 244, 255) 50%
    );
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.search-box.active {
    opacity: 1;
    pointer-events: all;
}
.back-btn {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        150deg,
        rgb(242, 248, 255) 0%,
        rgb(241, 248, 255) 50%
    );
    box-shadow: 5px 5px 10px rgb(205, 217, 236),
        -5px -5px 10px rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(115, 130, 149);
}
.search-box form {
    display: flex;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
form .text {
    border: none;
    font-size: 1.2rem;
    padding: 10px 0;
    border-radius: 10px;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        150deg,
        rgb(242, 248, 255) 0%,
        rgb(241, 248, 255) 50%
    );
    box-shadow: inset 3px 3px 3px rgb(205, 217, 236),
        inset -3px -3px 3px rgba(255, 255, 255);
}
form {
    color: rgb(115, 130, 149);
}
form .submit {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        150deg,
        rgb(242, 248, 255) 0%,
        rgb(241, 248, 255) 50%
    );
    box-shadow: 3px 3px 5px rgb(205, 217, 236),
        -3px -3px 5px rgba(255, 255, 255);
    outline: none;
    font-family: 'Cafe24SsurroundAir';
}
.description {
    content: '';
    font-size: 1.1rem;
    transition: 0.3s;
}
.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.nav {
    width: 90%;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    top: 3%;
}
.search,
.home {
    cursor: pointer;
    color: rgb(26, 26, 26);
    width: 10vw;
    height: 10vw;
    max-width: 50px;
    max-height: 50px;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        150deg,
        rgb(242, 248, 255) 0%,
        rgb(241, 248, 255) 50%
    );
    box-shadow: 5px 5px 10px rgb(205, 217, 236),
        -5px -5px 10px rgba(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(115, 130, 149);
}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: var(--card-width);
    height: var(--card-height);
    max-width: var(--card-max-width);
    max-height: var(--card-max-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background: rgb(222, 237, 255);
    background: linear-gradient(
        150deg,
        rgb(246, 250, 255) 0%,
        rgb(237, 245, 255) 50%
    );
    box-shadow: 5px 5px 20px rgb(205, 217, 236),
        -5px -5px 20px rgba(255, 255, 255);
    gap: 20px;
    opacity: 0;
    transition: 1s;
}
.card.active {
    opacity: 1;
}
.img-container {
    width: calc(var(--card-height) / 4);
    height: calc(var(--card-height) / 4);
    max-width: calc(var(--card-max-height) / 4);
    max-height: calc(var(--card-max-height) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(233, 243, 255);
    border-left: white 1px solid;
    border-top: white 1px solid;
    box-shadow: 5px 5px 15px rgb(195, 209, 233),
        -2px -2px 4px rgba(255, 255, 255);
}
.img {
    width: 90%;
    height: 90%;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.text {
    text-align: center;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.name {
    width: fit-content;
    padding: 5px 10px;
    font-size: 1.3em;
    font-weight: bold;
}
.sub-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.prayer-topic {
    font-size: 1.2em;
    line-height: 1.5;
    padding: 10px;
    border-radius: 10px;
    background: rgb(239, 246, 255);
    background: linear-gradient(
        160deg,
        rgba(239, 246, 255, 1) 0%,
        rgb(237, 244, 255) 50%
    );
    box-shadow: inset 3px 3px 5px rgb(205, 217, 236),
        inset -3px -3px 5px rgba(255, 255, 255);
}

@media screen and (max-width: 800px) {
    .area {
        font-size: 0.9rem;
    }
    .prayer-topic,
    .name,
    .intro p {
        font-size: 1.1rem;
    }
    .sub-text,
    .home,
    .search,
    form .submit,
    form .text,
    .back-btn,
    .description {
        font-size: 1rem;
    }
    .back-btn {
        width: 40px;
        height: 40px;
    }
    .home,
    .search {
        width: 40px;
        height: 40px;
    }
}
.area {
    font-size: 0.9rem;
}
.prayer-topic,
.name {
    font-size: 1.1rem;
}
.sub-text,
.home,
.search,
form .submit,
form .text,
.back-btn,
.description {
    font-size: 1rem;
}
.back-btn {
    width: 40px;
    height: 40px;
}
.home,
.search {
    width: 40px;
    height: 40px;
}
@media screen and (max-width: 500px) {
    .area {
        font-size: 0.8rem;
    }
    .prayer-topic,
    .name,
    .intro p {
        font-size: 1rem;
    }
    .sub-text,
    .home,
    .search,
    form .submit,
    form .text,
    .back-btn {
        font-size: 0.9rem;
    }
    .back-btn {
        width: 40px;
        height: 40px;
    }
    .home,
    .search {
        width: 35px;
        height: 35px;
    }
}
@media screen and (max-width: 400px) {
    .area {
        font-size: 0.7rem;
    }
    .prayer-topic,
    .name {
        font-size: 0.9rem;
    }
    .sub-text,
    .home,
    .search,
    form .submit,
    form .text,
    .back-btn {
        font-size: 0.8rem;
    }
    .back-btn {
        width: 40px;
        height: 40px;
    }
    .home,
    .search {
        width: 35px;
        height: 35px;
    }
}
@media (orientation: landscape) {
    * {
        --card-height: 80vh;
        --card-width: calc(var(--card-height) / 2);
        --card-max-width: 350px;
        --card-max-height: calc((var(--card-max-width) / 0.5));
    }
    html {
        min-height: calc(100%);
        padding: 0;
    }
    .area {
        font-size: 1vh;
    }
    .prayer-topic,
    .name,
    .intro p {
        font-size: 1vh;
    }
    .sub-text,
    .home,
    .search,
    form .submit,
    form .text,
    .back-btn,
    .description {
        font-size: 0.9vh;
    }
    .back-btn {
        width: 5vh;
        min-width: 30px;
        min-height: 30px;
        height: 5vh;
    }
    .home,
    .search {
        width: 7vh;
        height: 7vh;
        min-width: 30px;
        min-height: 30px;
    }
    .area button {
        width: 4vh;
        height: 4vh;
        min-width: 30px;
        min-height: 30px;
    }
}
@media (display-mode: standalone) {
    html {
        height: 100vh;
    }
}
